<div class="card-produto">
  <img [src]="produtoRecebido.image" alt="{{ produtoRecebido.title }}" />
  <h3>{{ produtoRecebido.title | uppercase | truncate: 15 }}</h3>

  @if (produtoRecebido.price > 100) {
    <p class="preco-desconto">
      {{ produtoRecebido.price | discount: 15 | currency: 'BRL' : 'symbol' : '1.2-2' }}
    </p>
  }

  <p class="preco-original">Preço original: {{ produtoRecebido.price | currency: 'BRL' : 'symbol' : '1.2-2' }}</p>

  <button (click)="clicouComprar()">Adicionar ao carrinho</button>
</div>
