<div class="card-produto">
  <img [src]="produtoRecebido.image" alt="{{ produtoRecebido.title }}" />
  <h3>{{ produtoRecebido.title | uppercase | truncate: 10 }}</h3>
  <p>{{ produtoRecebido.description | truncate: 15 }}</p>

  @if (produtoRecebido.price > 100) {
    <p class="preco-desconto">
      {{ produtoRecebido.price | discount: 15 | currency: 'BRL' : 'symbol' : '1.2-2' }}
    </p>
  }

  <p class="preco-original">
    Preço original: {{ produtoRecebido.price | currency: 'BRL' : 'symbol' : '1.2-2' }}
  </p>
  <a [routerLink]="['/produto', produtoRecebido.id]">Ver detalhes</a>
  <button (click)="clicouComprar()">Adicionar ao carrinho</button>
</div>
