header {
    background-color: #580404;
    padding: 0px 20px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
}

.cart {
    display: flex;
    align-items: center;
}

.cart-icon {
    font-size: 24px;
    margin-right: 10px;
}

.cart-count {
    font-size: 18px;
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
}

